# Application
PROJECT_NAME=fiap-postech-fase02
ENVIRONMENT=local
RANDOM_SEED=42
LOG_LEVEL=INFO

# Paths
RAW_DATA_DIR=data/raw
PROCESSED_DATA_DIR=data/processed
MODELS_DIR=models
METRICS_DIR=metrics

# Model defaults
MODEL_NAME=mlp
EMBEDDING_DIM=32
BATCH_SIZE=256
MAX_EPOCHS=20
EARLY_STOPPING_PATIENCE=5

# MLflow
MLFLOW_TRACKING_URI=sqlite:///mlflow.db
MLFLOW_EXPERIMENT_NAME=recommender-fase02
